body{
  font-family: 'Roboto', sans-serif;
}

.jumbotron{
  color: #ffffff;
  background: #333333;
}

ul#noticias{
  margin: 0;
  padding: 0;
}


ul#noticias li{
  list-style: none;
  background: #ffffff;
  color: #333333;
  border-bottom: 1px solid #ccc;
  font-size: 13pt;
  padding: 18px 0;
}

ul#noticias li:last-child{
  border-bottom: none;
  margin-bottom: 50px;
}

ul#noticias li:hover{
  background: #fafafa;
}

ul#noticias li .autor{
  color: #999999;
}

ul#noticias li .left{
  display: inline-block;
  width: 70%;
}

ul#noticias li .right{
  display: inline-block;
  text-align: right;
  width: 30%;
}

ul#noticias li .right .trash{
  display: inline-block;
  padding: 0 15px;
  visibility: hidden;
}

ul#noticias li:hover .right .trash{
  visibility: visible;
  cursor: pointer;
}
